a {
  color: #eeffff;
}

body {
  background-color: #263238;
  font-family: "Fira Code", monospace;
  color: #eeffff;
  margin: 0 auto;
  padding: 0;
}

.center {
  width: 900px;
  margin: 0 auto;
  margin-top: calc(45px + 1vh);
}

@media only screen and (max-width: 899px) {
  .center {
    width: 96%;
  }
}

.post {
  background-color: #212b30;
  font-size: 16px;
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

nav {
  background-color: #1c2529;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

nav a {
  float: left;
  color: #eeffff;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
}

nav a:hover {
  color: #82aaff;
}

nav a.active {
  background-color: #212b30;
}

code {
  background-color: #1c2529;
  display: block;
  padding: 10px;
}

.learning {
  background-color: #212b30;
  padding: 10px;
  padding-top: 5px;
  font-size: 18px;
}

.learning ul {
  list-style-type: none;
}
